/*
#background-video {
  height: 100%;
  width: 100%;
  float: left;
  top: 100px;
  padding: none;
  position: fixed; 
}

.intro {
  height: 100vh;
  position: relative;
  display: flex;
}

.slideshow-img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: -1;
  /*filter: brightness(50%);*/
/*display: none;*/
/*
  opacity: 0;
  transition: opacity 1s ease-in-out;
}


.sliderimg {
  width: 100%;
  height: 500px;
  object-fit: cover;
}

.slider {
  position: absolute;
}

.content {
  position: relative;
}

.content #text {
  position: relative;
  width: 950px;
  height: 215px;
  color: red;
}
*/

.wallpaper {
  width: 100%;
  height: 100%;
  bottom: 0px;
}

/*
.home {
  position: relative;
  text-align: center;
  color: white;
  width: 100%;
}
*/

.centered {
  position: absolute;
  top: 55%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  border-style: solid;
}

/*
.home .btn {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  background-color: white;
  color: black;
  font-size: 16px;
  padding: 12px 24px;
  border: none;
  cursor: pointer;
  border-radius: 5px;
}

.container .btn:hover {
  background-color: black;
}
*/
/*
.box1 {
  width: 500px;
  float: left;
  height: 500px;
  background: gray;
  margin: 10px;
  top: 20px;
}

.box2 {
  width: 500px;

  height: 500px;
  background: yellow;
  margin: 10px;
}
*/
.btn-right {
  float: right;
  margin-top: 0px;
  margin-right: 15px;
}

.btn-left {
  float: left;
  margin-top: 0px;
  margin-left: 15px;
}
